@import '~bootstrap/scss/bootstrap';

// stile parte header

header {
    background-color: rgb(18, 17, 73);
    color: white;
}


// stile main

main {
    background-color: #70afb9;

    .card-id {
        background-color: #70afb9;
    }
}